.ReactTable {
    margin-top: 10px;
    height: 500px;
}

.ReactTable .rt-thead, .ReactTable .rt-tbody, .ReactTable .rt-tfoot  {
    overflow-y: scroll;
}

.ReactTable .rt-noData, .ReactTable .btn {
    z-index: 0 !important;
}

.ReactTable .rt-tfoot .rt-td {
    height: 30px;
    padding-top: 3px;
}

.ReactTable .rt-tfoot .rt-td {
    border-right: none;
}
/*For IE*/
.ReactTable .rt-tbody .rt-td {
    max-height: 80px;
}